@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Common */
.icon-header {
    font-size: 1.4rem;
}
/* Menu trên
.menu_top{
    width: 100%;
    height: 64px;
    background-color: #112D4E;
    position: fixed;
    z-index: 9999;
}
.menu_top .menu{
    margin-right: 150px;
}
.menu_top .menu ul{
    margin: 0px;
    padding: 0px;
}
.menu_top .menu ul li{
    list-style: none;
    float: right;
    padding: 0px 14px 20px;
    display: block;
}
.menu_top .menu ul li a{
    text-decoration: none;
    display: block;
    height: 63px;
    line-height: 63px;
    color: rgb(255,255,255);
}
/* Gộp menu */
/* .menu_top .menu ul li a:hover{
    color: rgb(255,0,0);
}
.menu_sub{
    display: none;
    padding: 0 12px;
}

.child-menu-sub {
    line-height: auto !important;
}

.menu_top .menu ul li:hover .menu_sub{
    display: block;
    position: absolute;
    background: #112D4E;
    margin-left: -15px;
} */
/* form tim kiem */
/* .menu_top .search{
    padding-top: 11.5px;
}
.menu_top .search .search_item{
    width: 450px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.menu_top .search .search_item input{
    height: 38px;
    width: 410px;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
    outline: 0;
    outline-style: none;
    outline-width: 0;
}
.menu_top .search .search_item button{
    cursor: pointer;
    position: absolute;
    top: 22px;
    border: none;
    background: rgb(255,255,255);
}
.menu .logo img{
    position: absolute;
    width: 90px;
    height: 50px;
    left: 100px;
    top:6px;
}
.menu_top .menu .name{
    cursor: pointer;
    color: rgb(255,255,255);
    padding-top: 21.5px;
}
.menu_top .menu .dropdown ul li{
    float: left;
    width: 150px;
    margin-top: -10px;
}
.menu_top .menu .dropdown .active{
    margin-top: -40px;
}
.dropdown{
    display: none;
    margin-top: 22px;
    width: 160px;
    min-height: 80px;
    z-index: 1000;
    background: #112D4E;

}
.menu_top .menu ul li:hover .dropdown{
    display: block;
    position: absolute;
    margin-left: -10px;
} */
/* menu duoi */
/* .menu_bottom{
    width: 100%;
    height: 64px;
    padding-top: 64px;
    border-bottom: 1px solid #D1D5DB;
    background: rgb(255,255,255);
}

.menu_bottom .type {
    display: flex;
    justify-content: center;
}
.menu_bottom .type ul{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_bottom .type ul li{
    text-align: center;
    list-style: none;
    float: left;

}
.menu_bottom .type ul li a{
    display: inline-block;
    text-decoration: none;
    color: rgb(0,0,0);
    min-width: 106px;
    padding: 6px 8px;

}
.menu_bottom .type li:hover {
    border-radius: 6px;
    background-color: rgba(0,0,0, 0.1);
    border: none;
    opacity: 0.8;
} */
/* phan noi dung */
.content{
    margin: 0px auto;
    width: 1200px;
}
/* menu left */
.content .menu_left{
    width: 200px;
    height: 380px;
    border: 1px solid #ccc;
    background: none;
    float: left;
    margin-top: 0px;
    box-shadow: black;
    border-radius: 10px;
}
.content .menu_left ul {
    margin: 0px;
    padding: 0px;
}
.content .menu_left ul li{
    list-style: none;
}   
.content .menu_left ul li a{
    display: block;
    text-decoration: none;
    line-height: 32px;
    font-size: 12px;
    color: rgb(0,0,0);
    margin-left: 5px;
} 
.content .menu_left ul li :hover{
    color: rgb(255,0,0);
}
/* hinh dong */
.content .banner{
    width: 900px;
    height: 380px;
    float: left; 
    overflow: hidden;
    border-radius: 10px;
}
.content .banner .slides{
    width: 500%;
    height: 380px;
    display: flex;
}
.content .banner .slides input{
    display: none;
}
.content .banner .slide{
    width: 20%;
    transition: 2s;
}
.content .banner .slide img{
    width: 900px;
    height: 380px;
}
.content .banner .navigation-manual{
    position: absolute;
    width: 930px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}
.content .banner .navigation-manual .manual-btn{
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.content .banner .navigation-manual .manual-btn:not(:last-child){
    margin-right: 5px;
}
.content .banner .navigation-manual .manual-btn:hover{
    background: #ccc;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
/* chuyen hinh tu dong */
.content .banner .navigation-auto{
    position: absolute;
    display: flex;
    width: 930px;
    justify-content: center;
    margin-top: 360px;
}
.content .banner .navigation-auto  div{
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.content .banner .navigation-auto  div:not(:last-child){
    margin-right: 5px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ccc;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ccc;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ccc;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #ccc;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #ccc;
}
/* banner right */
.content .right .banner2 img{
    width: 283px;
    height: 380px;
    float: left;
    margin-left: 15px;
}
.content .right .banner2 img{
    height: 119px;
}
.content .right .banner2 .img1 img{
    padding-top: 11.5px;
}
.content .right .banner2 .img2 img{
    padding-top: 11.5px;
}
.content .picture img{
    width: 1200px;
    height: 74px;
    float: left;
    margin-top: 17px;
    border-radius: 10px;
}
/* San pham sale */
:root{
    --bg1: #9b59b6;
    --bg2:#3498db;
    --text: #26ade4;
}
.content h1{
    width: 1200px;
    height: 50px;
    line-height: 75px;
    font-size: 25px;
    margin-left: 7px;
    color: rgb(255,255,0);
}
/* điện thoại thông minh */
.header_telephone{
    font-size: 20px;
    height: 64px;
    line-height: 63px;
}
.menu_telephone{
    width: 1200px;
}
.menu_telephone .menu2{
    margin-right: -10px;
}
.menu_telephone .menu2 ul li,
.menu_sound .menu6 ul li{
    margin-top: 15px;
    float: right;
    list-style: none;
    padding: 4px 10px;
    line-height: 31px;
    margin-right: 11px;
    border-radius: 10px;
    border: 1px solid #E5E7E8;
    background: #F3F4F6;
}
.menu_telephone .menu2 ul li a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.telephone_product{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.telephone_item{
    margin-top: 15px;
    width: 230px;
    height: 360px;
    background: rgb(255,255,255);
    border-radius: 1rem;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    position: relative;
    transition: .3s;
}
.telephone_item:hover{
    transform: scale(1.06);
}
.telephone_item a{
    text-decoration: none;
}
.telephone_item img{
    width: 200px;
    height: 200px;
    margin-left: 3px;
    margin: 0;
    padding: 0;
}
.telephone_product .product_name{
    font-size: 1.2rem;
    color: rgb(0,0,0);
    margin-left: 3px;
}
.telephone_product .product_cost{
    padding-top: 4px;
    color: rgb(255,0,0);
    margin-left: 3px;
}

.product-random-info {
    padding: 8px;
}
/* Sản phẩm laptop */
.header_laptop{
    font-size: 20px;
    position: absolute;
    line-height: 20px;
    margin-top: 24px;
}
.menu_laptop{
    width: 1200px;
}
.menu_laptop .menu3{
    margin-right: -10px;
}
.menu_laptop .menu3 ul li{
    float: right;
    list-style: none;
    padding: 4px 10px;
    line-height: 31px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #E5E7E8;
    background: #F3F4F6;
    margin-top: 22px;
}
.menu_laptop .menu3 ul li a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.laptop_product{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.laptop_item{
    margin-top: 15px;
    width: 230px;
    height: 317px;
    background: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.1);
}
.laptop_item a{
    text-decoration: none;
}
.laptop_item img{
    width: 220px;
    height: 200px;
    margin-top: 5px;
    margin: 0;
    padding: 0;
}
.laptop_item .product_name{
    font-size: 10px;
    color: rgb(0,0,0);
    margin-left: 3px;
}
.laptop_item .product_cost{
    color: rgb(255,0,0);
    margin-left: 3px;
}
/* Sản phẩm tablet */
.header_tablet{
    font-size: 20px;
    line-height: 22px;
    /* position: absolute; */
    display:inline-block;
    margin-top: 24px;
}
.menu_tablet{
    width: 1200px;
}
.menu_tablet .menu4{
    margin-right: -12px;
}
.menu_tablet .menu4 ul li{
    float: right;
    list-style: none;
    padding: 4px 10px;
    margin-right: 11px;
    line-height: 31px;
    border-radius: 10px;
    border: 1px solid #E5E7E8;
    background: #F3F4F6;
    margin-top: -28px;
}
.menu_tablet .menu4 ul li a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.tablet_product{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tablet_item{
    margin-top: 15px;
    width: 230px;
    height: 317px;
    background: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.1);
}
.tablet_item a{
    text-decoration: none;
}
.tablet_item img{
    width: 220px;
    height: 200px;
    margin-top: 5px;
    margin: 0;
    padding: 0;
}
.tablet_item .product_name{
    font-size: 10px;
    color: rgb(0,0,0);
    margin-left: 3px;
}
.tablet_item .product_cost{
    color: rgb(255,0,0);
    margin-left: 3px;
}
/* Sản phẩm âm thanh */
.header_sound{
    font-size: 20px;
    line-height: 22px;
    /* position: absolute; */
    margin-top: 24px;
}
.menu_sound{
    width: 1200px;
}
.menu_sound .menu6{
    margin-right: -12px;
}
.menu_sound .menu6 ul li{
    float: right;
    list-style: none;
    padding: 4px 10px;
    line-height: 31px;
    margin-right: 11px;
    border-radius: 10px;
    border: 1px solid #E5E7E8;
    background: #F3F4F6;
    margin-top: -28px;

}
.menu_sound .menu6 ul li a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.sound_product{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sound_item{
    margin-top: 15px;
    width: 230px;
    height: 317px;
    background: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.1);
}
.sound_item a{
    text-decoration: none;
}
.sound_item img{
    width: 220px;
    height: 200px;
    margin-top: 5px;
    margin: 0;
    padding: 0;
}
.sound_item .product_name{
    font-size: 10px;
    color: rgb(0,0,0);
    margin-left: 3px;
}
.sound_item .product_cost{
    color: rgb(255,0,0);
    margin-left: 3px;
}



